.date-picker
{
  width:170px;
  height:25px;
  padding:0;
  border:0;
  line-height:25px;
  padding-left:10px;
  font-size:12px;
  font-family:Arial,sans-serif;
  font-weight:bold;
  cursor:pointer;
  color:#303030;
  position:relative;
  z-index:2;
}
.date-picker-wrapper
{
  position:absolute;
  z-index:1;
  border:1px solid #bfbfbf;
  background-color:#FFFFFF;
  padding: 5px 12px;
  font-size:16px;
  line-height:20px;
  color:#aaa;
  font-family:Arial,sans-serif;
  box-shadow:3px 3px 10px rgba(0,0,0,0.5);
  box-sizing: initial;
}
.date-picker-wrapper.inline-wrapper { position: relative; box-shadow: none; display:inline-block;}
.date-picker-wrapper.single-date {
  width:auto;
}
.date-picker-wrapper.no-shortcuts { padding-bottom:12px;}
.date-picker-wrapper.no-topbar { padding-top:12px;}
.date-picker-wrapper .footer
{
  font-size:11px;
  padding-top: 3px;
}
.date-picker-wrapper b
{
  color:#666;
  font-weight:700;
}
.date-picker-wrapper a
{
  color: rgb(107, 180, 214);
  text-decoration:underline;
}
.date-picker-wrapper .month-name
{
  text-transform: uppercase;
}
.date-picker-wrapper .month-wrapper
{
  border:1px solid #bfbfbf;
  border-radius:3px;
  background-color:#fff;
  padding:5px;
  cursor:default;
  position:relative;
  _overflow:hidden;
}
.date-picker-wrapper .month-wrapper table
{
  width:190px;
  float:left;
}
.date-picker-wrapper .month-wrapper table.month2
{
  width:190px;
  float: left;
}
.date-picker-wrapper .month-wrapper table th,
.date-picker-wrapper .month-wrapper table td
{
  vertical-align:middle;
  text-align:center;
  line-height:14px;
  margin : 0px;
  padding : 0px;
}
.date-picker-wrapper .month-wrapper table .day
{
  padding:5px 0;
  line-height:1;
  font-size:15px;
  margin-bottom:1px;
  color: #ccc;
  cursor:default;
}
.date-picker-wrapper .month-wrapper table div.day.lastMonth,
.date-picker-wrapper .month-wrapper table div.day.nextMonth
{
  color:#999;
  cursor:default;
}
.date-picker-wrapper .month-wrapper table .day.checked
{
  background-color: rgb(156, 219, 247);
}
.date-picker-wrapper .month-wrapper table .week-name
{
  height:20px;
  line-height:20px;
  font-weight:100;
  text-transform: uppercase;
}

.date-picker-wrapper .month-wrapper table .day.has-tooltip { cursor:help !important;}
.date-picker-wrapper .time label { white-space:nowrap; }
.date-picker-wrapper .month-wrapper table .day.toMonth.valid
{
  color:#333;
  cursor:pointer;
}

.date-picker-wrapper .month-wrapper table .day.toMonth.hovering
{
  background-color: #cdecfa;
}

.date-picker-wrapper .month-wrapper table .day.nextMonth,
.date-picker-wrapper .month-wrapper table .day.lastMonth { display:none; }

.date-picker-wrapper .month-wrapper table .day.real-today { background-color: rgb(255, 230, 132); }
.date-picker-wrapper .month-wrapper table .day.real-today.checked,
.date-picker-wrapper .month-wrapper table .day.real-today.hovering { background-color: rgb(112, 204, 213); }


.date-picker-wrapper table .caption
{
  height:40px;
}
.date-picker-wrapper table .caption .next,
.date-picker-wrapper table .caption .prev
{
  padding:0 5px;
  cursor:pointer;
}
.date-picker-wrapper table .caption .next:hover,
.date-picker-wrapper table .caption .prev:hover
{
  background-color:#ccc;
  color:white;
}
.date-picker-wrapper .gap
{
  position: relative;
  z-index: 1;
  width:15px;
  height: 100%;
  background-color:red;
  font-size:0;
  line-height:0;
  float: left;
  top: -5px;
  margin: 0 10px -10px;
  visibility: hidden;
  height: 0;
}
.date-picker-wrapper .gap .gap-lines { height: 100%; overflow:hidden; }
.date-picker-wrapper .gap .gap-line { height:15px;width:15px; position:relative;  }
.date-picker-wrapper .gap .gap-line .gap-1 { z-index:1; height:0; border-left:8px solid white; border-top:8px solid #eee;border-bottom:8px solid #eee; }
.date-picker-wrapper .gap .gap-line .gap-2 { position:absolute; right:0; top:0px; z-index:2; height:0; border-left:8px solid transparent; border-top:8px solid white; }
.date-picker-wrapper .gap .gap-line .gap-3 { position:absolute; right:0; top:8px; z-index:2; height:0; border-left:8px solid transparent; border-bottom:8px solid white; }
.date-picker-wrapper .gap .gap-top-mask { width: 6px; height:1px; position:absolute; top: -1px; left: 1px; background-color: #eee; z-index:3; }
.date-picker-wrapper .gap .gap-bottom-mask { width: 6px; height:1px; position:absolute; bottom: -1px; left: 7px; background-color: #eee; z-index:3; }

.date-picker-wrapper .selected-days
{
  display:none;
}
.date-picker-wrapper .drp_top-bar
{
  line-height: 1.4;
  position:relative;
  padding: 10px 40px 10px 0;
}
.date-picker-wrapper .drp_top-bar .error-top { display:none; }
.date-picker-wrapper .drp_top-bar .normal-top { display:none; }
.date-picker-wrapper .drp_top-bar .default-top { display:block; }

.date-picker-wrapper .drp_top-bar.error .default-top { display:none; }
.date-picker-wrapper .drp_top-bar.error .error-top { display:block; color:red; }

.date-picker-wrapper .drp_top-bar.normal .default-top { display:none; }
.date-picker-wrapper .drp_top-bar.normal .normal-top { display:block; }

.date-picker-wrapper .drp_top-bar .apply-btn
{
  position:absolute;
  right: 0px;
  top: 6px;
  padding:3px 5px;
  margin:0;
  font-size:12px;
  border-radius:4px;
  cursor:pointer;

  color: #d9eef7;
  border: solid 1px #0076a3;
  background: #0095cd;
  background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
  background: -moz-linear-gradient(top,  #00adee,  #0078a5);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adee', endColorstr='#0078a5');
  color:white;
  line-height: initial;
}

.date-picker-wrapper .drp_top-bar .apply-btn.disabled
{
  cursor: pointer;
  color: #606060;
  border: solid 1px #b7b7b7;
  background: #fff;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));
  background: -moz-linear-gradient(top,  #fff,  #ededed);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed');
}
/*time styling*/
.date-picker-wrapper .time {
  position: relative;
}
.date-picker-wrapper.single-month .time { display:block; }

.date-picker-wrapper .time input[type=range] {
  vertical-align: middle;
  width:129px;
  padding:0;
  margin:0;
  height:20px;
}
.date-picker-wrapper .time1, .time2 {
  width: 180px;
  padding: 0 5px;
  text-align: center;
}
.date-picker-wrapper .time1 {
  float: left;
}
.date-picker-wrapper .time2 {
  float: right;
}
.date-picker-wrapper .hour, .minute {
  text-align: right;
}
.date-picker-wrapper .hide {
  display: none;
}

.date-picker-wrapper .first-date-selected { background-color:#49e !important; color:white !important;  }
.date-picker-wrapper .last-date-selected { background-color:#49e !important; color:white !important;  }
.date-picker-wrapper .date-range-length-tip { position:absolute; margin-top:-4px; margin-left:-8px; box-shadow:0 0 3px rgba(0,0,0,.3); display:none;background-color:yellow; padding:0 6px; border-radius:2px; font-size:12px; line-height:16px;
  -webkit-filter: drop-shadow(0 0 3px rgba(0,0,0,.3));
  -moz-filter: drop-shadow(0 0 3px rgba(0,0,0,.3));
  -ms-filter: drop-shadow(0 0 3px rgba(0,0,0,.3));
  -o-filter: drop-shadow(0 0 3px rgba(0,0,0,.3));
  filter: drop-shadow(0 0 3px rgba(0,0,0,.3));  }
.date-picker-wrapper .date-range-length-tip:after { content:''; position:absolute; border-left:4px solid transparent; border-right:4px solid transparent; border-top:4px solid yellow; left:50%; margin-left:-4px; bottom:-4px; }


.date-picker-wrapper.two-months.no-gap .month1 .next,
.date-picker-wrapper.two-months.no-gap .month2 .prev { display:none; }
.date-picker-wrapper .week-number
{
  padding:5px 0;
  line-height:1;
  font-size:12px;
  margin-bottom:1px;
  color:#999;
  cursor: pointer;
}
.date-picker-wrapper .week-number.week-number-selected { color: #4499EE; font-weight:bold;  }




/*!
 * Stylesheet for the Date Range Picker, for use with Bootstrap 3.x
 *
 * Copyright 2013 Dan Grossman ( http://www.dangrossman.info )
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Built for http://www.improvely.com
 */

.daterangepicker.dropdown-menu {
  max-width: none;
  z-index: 3000;
}

.daterangepicker.opensleft .ranges, .daterangepicker.opensleft .calendar {
  float: left;
  margin: 4px;
}

.daterangepicker.opensright .ranges, .daterangepicker.opensright .calendar {
  float: right;
  margin: 4px;
}

.daterangepicker .ranges {
  width: 160px;
  text-align: left;
}

.daterangepicker .ranges .range_inputs>div {
  float: left;
}

.daterangepicker .ranges .range_inputs>div:nth-child(2) {
  padding-left: 11px;
}

.daterangepicker .calendar {
  display: none;
  max-width: 270px;
}

.daterangepicker .calendar table {
  border: 0px;
}

.daterangepicker .calendar.single .calendar-date {
  border: none;
}

.daterangepicker .calendar th, .daterangepicker .calendar td {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  white-space: nowrap;
  text-align: center;
  font-size: 0.73em;
  padding: 0.4em;
  line-height: 1.3em;
}

.daterangepicker .calendar td {
  background-color: #fff;
}

.daterangepicker .ranges label {
  color: #333;
  display: block;
  font-size: 11px;
  font-weight: normal;
  height: 20px;
  line-height: 20px;
  margin-bottom: 2px;
  text-shadow: #fff 1px 1px 0px;
  text-transform: uppercase;
  width: 74px;
}

.daterangepicker .ranges input {
  font-size: 11px;
}

.daterangepicker .ranges .input-mini {
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #555;
  display: block;
  font-size: 11px;
  height: 30px;
  line-height: 30px;
  vertical-align: middle;
  margin: 0 0 10px 0;
  padding: 0 6px;
  width: 74px;
}

.daterangepicker .ranges ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.daterangepicker .ranges li {
  font-size: 13px;
  background: #e7ebf1;
  border: 1px solid #e7ebf1;
  color: #222;
  padding: 3px 12px;
  margin-bottom: 8px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.daterangepicker .ranges li.active, .daterangepicker .ranges li:hover {
  background: #162856;
  border: 1px solid #162856;
  color: #fff;
}

.daterangepicker .calendar-date {
  border: 1px solid #ddd;
  padding: 4px;
  border-radius: 4px;
  background: #fff;
}

.daterangepicker .calendar-time {
  text-align: center;
  margin: 8px auto 0 auto;
  line-height: 30px;
}

.daterangepicker {
  position: absolute;
  background: #fff;
  top: 100px;
  left: 20px;
  padding: 4px;
  margin-top: 1px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.daterangepicker.opensleft:before {
  position: absolute;
  top: -7px;
  right: 9px;
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-left: 7px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
}

.daterangepicker.opensleft:after {
  position: absolute;
  top: -6px;
  right: 10px;
  display: inline-block;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #fff;
  border-left: 6px solid transparent;
  content: '';
}

.daterangepicker.opensright:before {
  position: absolute;
  top: -7px;
  left: 9px;
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-left: 7px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
}

.daterangepicker.opensright:after {
  position: absolute;
  top: -6px;
  left: 10px;
  display: inline-block;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #fff;
  border-left: 6px solid transparent;
  content: '';
}

.daterangepicker table {
  width: 100%;
  margin: 0;
  border:0px;
}

.daterangepicker td, .daterangepicker th {
  text-align: center;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  cursor: pointer;
  white-space: nowrap;
}

.daterangepicker thead {
  background: transparent;
}

.daterangepicker .calendar table thead tr:nth-of-type(even) {
  background-color: #162856;
}

.daterangepicker .calendar table thead tr:nth-of-type(even) th {
  color: #fff;
}

.daterangepicker th {
  border-radius: 0;
}

.daterangepicker td.off {
  color: #999;
}

.daterangepicker td.disabled {
  color: #999;
}

.daterangepicker td.available:hover, .daterangepicker th.available:hover {
  background: #eee;
}

.daterangepicker td.in-range {
  background: #d9dde8;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.daterangepicker td.active, .daterangepicker td.active:hover {
  background-color: #162856;
  border-color: #162856;
  color: #fff;
}

.daterangepicker td.week, .daterangepicker th.week {
  font-size: 80%;
  color: #ccc;
}

.daterangepicker select.monthselect, .daterangepicker select.yearselect {
  font-size: 12px;
  padding: 1px;
  height: auto;
  margin: 0;
  cursor: default;
}

.daterangepicker select.monthselect {
  margin-right: 2%;
  width: 56%;
}

.daterangepicker select.yearselect {
  width: 40%;
}

.daterangepicker select.hourselect, .daterangepicker select.minuteselect, .daterangepicker select.ampmselect {
  width: 50px;
  margin-bottom: 0;
}

.daterangepicker_start_input {
  float: left;
}

.daterangepicker_end_input {
  float: left;
  padding-left: 11px
}

.daterangepicker th.month {
  width: auto;
}
